<div class="puzzle">
    <div class="row-{{row[0].row}}" *ngFor="let row of puzzlePieces">
        <div *ngFor="let piece of row" class="piece-{{piece.id}}" (click)="pieceEvent(piece.id, piece.row)"></div>
    </div>
</div>
<div>
    <p>Moves: {{moves}}</p>
    <p>Timer: {{time * 1000 | date:'mm:ss'}}</p>
    <p>Score: {{score | number}}pts</p>
</div>

<div *ngIf="hasEnded">
    <a *ngIf="score > 0"><strong>You won with {{score | number}}pts !!!</strong></a>
    <a *ngIf="score <= 0"><strong>You lost because you ran out of points!</strong></a>
</div>